/* Top-level SearchPanel */
.searchPanelContainer {
  display: flex;
  flex-direction: column;
  font-size: 14pt;

  /* Set size of this component to the size of the parent */
  width: 100%;
  max-height: 100%;
}

/* SearchInput top-level container */
.searchInputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* SearchInput text input */
.searchInputText {
  width: 100%;
  font-size: inherit;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  padding: 8px;
  outline: none;
  box-sizing: border-box;
}

/* SearchInput submit button */
.searchInputButton {
  width: 50px;
  font-size: inherit;

  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.searchInputButton:hover {
  background: #e0e0e0;
}

/* Remove default button outline on click */
.searchInputButton:focus {
  outline: none;
}

/* SearchResults top-level container */
.searchResultsContainer {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  /* Enable vertical scrolling */
  overflow-y: auto;
  overflow-x: hidden;
}

/* SearchResultElement top-level container */
.searchResultElement {
  display: flex;
  flex-direction: row;

  max-width: 100%;
  padding: 5px;

  border-style: solid;
  border-color: #666666;
  border-width: 1px;
  border-radius: 2px;

  /* Add transitions for smooth animation */
  transition:
    background-color 0.1s,
    border-color 0.1s,
    border-width 0.1s,
    box-shadow 0.1s,
    margin 0.1s,
    padding 0.1s;
}

.searchResultElement:hover {
  background-color: #d3d3d3;
}

/* Selected SearchResultElement */
.searchResultElementSelected {
  display: flex;
  flex-direction: row;

  background-color: #d3d3d3;
  max-width: 100%;
  padding: 5px;

  border-style: solid;
  border-color: black;
  border-width: 2px;

  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  /* Add transitions for smooth animation */
  transition:
    background-color 0.1s,
    border-color 0.1s,
    border-width 0.1s,
    box-shadow 0.1s,
    margin 0.1s,
    padding 0.1s;
}

/* SearchResultElement delete button */
.searchResultElementDeleteButton {
  width: 50px;
}
