    .pageHeader {
      margin: 10px 0;
      padding-left: 10px;
    }

    .header {
      display: flex;
      /* flex-direction: row; */
      justify-content: space-between;
      border-radius: 8px;
      align-items: flex-start;
      padding: 10px;
      border: 5px solid black;
    }

    .shopCompTitle {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }

    .logoutButton {
      margin-top: 0;
      padding: 5px 10px;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      border: 2px solid black;
      border-radius: 8px;
      cursor: pointer;
      display: inline-block;
      color: inherit;
    }

    .logoutButton:hover {
      background-color: #ffc0c0;
    }

    .sectionHeader {
      align-items: center;
      gap: 20px;
      margin-bottom: 10px;
      text-align: center;
    }

    .statsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      gap: 20px;
      margin-top: 20px;
    }

    .statItem {
      text-align: center;
      border: 5px solid black;
      border-radius: 8px;
      padding: 10px;
      padding-left: 50px;
      padding-right: 50px;
    }